In [ ]:
# Hi my name is Ananya. I am an exchange student from NEOMA Business School France. 
# I am in the MSBA program, gradute studuies include management and business analytics courses. 
# My undergraduate was in Public Relations.I have some basic finance understanding from some previous courses.